/*.bin
/*.mode
/.deps
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/ca-oc.t1x
/ca-oc.t2x
/ca-oc.t3x
/ca-oc@aran.t1x
/ca-oc@aran.t2x
/ca-oc@aran.t3x
/config
/config.in
/config.log
/config.status
/configure
/install-sh
/missing
/modes
/oc-ca.t1x
/oc-ca.t2x
/oc-ca.t3x
/oc@aran-ca.t1x
/oc@aran-ca.t2x
/oc@aran-ca.t3x
/stamp-h1
