* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/NEWS -text
/README -text
/alt.xsl -text
/apertium-oc-ca.ca-oc.t1x -text
/apertium-oc-ca.ca-oc.t2x -text
/apertium-oc-ca.ca-oc.t3x -text
/apertium-oc-ca.ca.dix -text
/apertium-oc-ca.ca.tsx -text
/apertium-oc-ca.oc-ca.dix -text
/apertium-oc-ca.oc-ca.t1x -text
/apertium-oc-ca.oc-ca.t2x -text
/apertium-oc-ca.oc-ca.t3x -text
/apertium-oc-ca.oc.metadix -text
/apertium-oc-ca.oc.tsx -text
/apertium-oc-ca.post-ca.dix -text
/apertium-oc-ca.post-oc.dix -text
/apertium-oc-ca.trules-ca-oc.xml -text
/apertium-oc-ca.trules-oc-ca.xml -text
/autogen.sh -text
/buscaPar.xsl -text
/ca-oc-supervised.make -text
/ca-oc-unsupervised.make -text
/ca-oc.prob -text svneol=unset#unset
/ca-oc@aran.prob -text svneol=unset#unset
ca-tagger-data/README -text
/configure.ac -text
/modes.xml -text
/oc-ca-supervised.make -text
/oc-ca-unsupervised.make -text
/oc-ca.prob -text
oc-tagger-data/README -text
/oc@aran-ca.prob -text
/principal.xsl -text
